@model DoAnWebBanGiay.Models.Entities.PhanHoi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>PhanHoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguoiDung" class="control-label"></label>
                <select asp-for="IdNguoiDung" class ="form-control" asp-items="ViewBag.IdNguoiDung"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiXem" class="control-label"></label>
                <input asp-for="TrangThaiXem" class="form-control" />
                <span asp-validation-for="TrangThaiXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

