@model IEnumerable<DoAnWebBanGiay.Models.Entities.LoaiSP>
<li class="menu-item has-sub">
    <a a asp-controller="LoaiSP" asp-action="Index" class="item-anchor d-flex align-item-center" data-effect="Pages">DANH MỤC<i class="icon icon-chevron-down"></i></a>
    <ul class="submenu">
        @foreach(var item in Model)
        {
            <li><a asp-controller="LoaiSP" asp-action="Index" asp-route-idLoaiSP="@item.Id" class="item-anchor">@item.Ten</a></li>
        }
    </ul>
</li>