<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - DoAnWebBanGiay</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/Customer/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Customer/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Customer/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/Customer/StyleSheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
     <link rel="stylesheet" href="~/DoAnWebBanGiay.styles.css" asp-append-version="true" />
    <!-- script
    ================================================== -->
    <script src="~/Customer/js/modernizr.js"></script>
</head>
<style>
    .cart-concern {
        background-color:none !important;
    }
    .cart-button{
        background-color:#fff;
        height:60px;
    }

    .cart-button form{
        height:0px;
    }
</style>
<body>
    @Html.Partial("_Header.cshtml")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_Footer.cshtml")
    <script src="~/Customer/js/jquery-1.11.0.min.js"></script>
    <script src="~/Customer/js/plugins.js"></script>
    <script src="~/Customer/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
